<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<body>
<div layout:fragment="content">

    <div class="member-form login-member-form">
        <h2>로그인</h2>
        <form id="login-form" th:action="@{/user/login}" method="post">
            <div class="input-group">
                <input type="email" name="email" class="input form-control" placeholder="이메일" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" class="input form-control" placeholder="비밀번호" required>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label for="remember-me"><span></span> 자동로그인</label>
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-dark">로그인</button>
            </div>
            <button type="button" class="joinBtn">계정이 없으신가요?</button>
        </form>

        <div class="social-login mt-4">
            <a th:href="@{/oauth2/authorization/kakao}" class="btn kakao" id="kakaoLogin">
                <div class="icon"><img th:src="@{/images/social/kakao_icon.png}"></div>
                <span>카카오로 로그인</span>
            </a>
            <a th:href="@{/oauth2/authorization/naver}" class="btn naver" id="naverLogin">
                <div class="icon"><img th:src="@{/images/social/naver_icon.png}"></div>
                <span>네이버로 로그인</span>
            </a>
            <a th:href="@{/oauth2/authorization/google}" class="btn google" id="googleLogin">
                <div class="icon"><img th:src="@{/images/social/google_icon.png}"></div>
                <span>구글로 로그인</span>
            </a>
        </div>
    </div>

    <script layout:fragment="javascript" th:inline="javascript">
        document.querySelector(".joinBtn").addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            self.location = "/user/signup";
        });
    </script>

</div>
</body>
</html>
